{% extends 'base.html' %}
{% block content %}
<h1>All Computer Ideas</h1>
{%if computers %}
{% for comp in computers %}
<a href="{%url 'compDet' comp.id%}">
<div class="container">
          {%if comp.user == user %}
        <h4 > {{comp.name}}</h4>
    </div>
    <br>
          {%else%}
    <h4>{{comp.user.username}}'s {{comp.name}}</h4>
</a>
        {%endif%}
        {%endfor%}
{%else%}

<p>There are no computers</p>
<a href="{% url 'create'%}">Create A New Computer</a>


{%endif%}


{% endblock %}