{% extends 'base.html' %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1>Total ${{computer.price}}</h1>
<h1>Choose your Motherboard </h1>

{% for mobo in mobos%}
  <div class="container">
        <h3>{{mobo.name}}</h3>
        <table>
        
          <tr><td>Price</td><td>${{mobo.price}}</td></tr>
          <tr><td>Form</td><td>{{mobo.get_form_display}}</td></tr>
          <tr>
            <td></td>
            <td>
                  
      <form action="{% url 'addMobo' computer.id mobo.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
      </form>
            </td>
          </tr>

        </table>

      </div>
    
{% endfor %}

{% endblock %}