{% extends 'base.html' %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<h1>Choose your Processor Brand</h1>


        
   
   
      <form action="{% url 'choiceamd' computer.id %}" method="post">
        {% csrf_token %}
        <button type="submit" >
          <span style="color:red">AMD</span>
        </button>
      </form>
     

    
            
          <form action="{% url 'choiceintel' computer.id %}" method="post">
            {% csrf_token %}
            
            <button type="submit" >
            <p style="color:blue">Intel</p>
          </button>
            
          </form>
       

{% endblock %}