{% extends 'base.html' %}
{% block content %}

<h1>Choose your Processor </h1>

{% for chip in processors%}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <span >{{chip.chip_model}}</span>
        <table>
          <tr><td>Cores</td><td>{{chip.cores}}</td></tr>
          <tr><td>Threads</td><td>{{chip.threads}}</td></tr>
          <tr><td>Effective Speed</td><td>{{chip.speed}} GHz</td></tr>
          <tr><td>Wattage</td><td>{{chip.tdp}} watts</td></tr>
          <tr><td>Price</td><td>${{chip.price}}</td></tr>

        </table>
    </div>
    <div class="card-action">
      <form action="{% url 'addChip' computer.id chip.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
      </form>
      </div>
      </div>
{% endfor %}

{% endblock %}